.container{
    width: 455px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid black;
}
.a{
    width: 450px;
    height: 100px;
}
.x{
    margin: 2px;
    background: silver;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bc{
    display: flex;
}
.bc-2{
    display: flex;
}
.b{
    width: 350px;
    height: 190px;
}
.c{
    width: 100px;
    height: 190px;
}
.b-2{
    height: 100px;
    width: 348px;
}
.cde{
    height: 88px;
    width: 113px;
}